body {
   background-color: #eef;
   font-family: Arial, sans-serif;
}

#main-title {
  text-align: center;
  padding-top: 5px;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  color: #000;
}

.container {
   display: flex;
   justify-content: space-around;
   margin-top: 2em;
}

.movie-details {
   flex-basis: 60%;
}

.movie-menu {
   flex-basis: 30%;
}

.movie-poster {
   width: 100%;
   height: 30%;
   
}

.movie-title, .movie-runtime, .movie-showtime, .available-tickets, .movie-description {
   font-size: 1.2em;
   margin-bottom: 1em;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: initial;
}

#films {
   list-style: none;
}
#films .film {
   cursor: pointer;
   padding: 10px;
   border-bottom: 1px solid #ddd;
 }
 
 #films .film:hover {
   background-color: #ddd;
 }

.film.item {
   padding: 1em;
   background-color: #fff;
   margin-bottom: 1em;
   cursor: pointer;
   border-radius: 5px;
}

#buy-ticket-btn {
   padding: 1em 2em;
   background-color: #44f;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

#buy-ticket-btn:disabled {
   background-color: #aaa;
}
